@use "../../app/shared/styles/tokens.pure.scss" as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: var(--color-dark);

  .footerContent {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-inline: auto;
    padding: var(--padding-medium);

    .motto {
      .logoLink {
        display: flex;
        justify-content: center;
      }
      .logoIcon {
        width: 8rem;
      }
      .mottoText {
        font-size: var(--font-size-regular);
        font-style: italic;
        line-height: var(--line-height-xlarge);
        letter-spacing: var(--letter-spacing-xsmall);
        padding-block: var(--padding-small);
        text-align: center;
        strong {
          color: var(--color-main);
        }
      }
    }

    .services,
    .usefulLinks,
    .contacts {
      margin-block: var(--margin-large);
    }
    .services h3,
    .usefulLinks h3,
    .contacts h3 {
      padding-bottom: var(--padding-small);
      font-size: var(--font-size-normal);
      text-align: center;
      text-decoration: underline;
      text-decoration-color: var(--color-main);
      text-underline-offset: var(--text-underline-offset-small);
    }
    .services > ul > li,
    .usefulLinks > ul > li,
    .contacts > ul > li {
      padding-block: var(--padding-xsmall);
      font-size: var(--font-size-base);
      > a {
        display: flex;
        align-items: center;
        color: inherit;
        transition: color var(--transition);
        &:hover,
        &:focus-visible {
          color: var(--color-main);
        }
        &:focus-visible {
          outline: 2px solid var(--color-main);
          outline-offset: 2px;
        }
      }
      .icon {
        margin-right: var(--margin-xsmall);
      }
    }
    .contacts {
      li .icon {
        color: var(--color-main);
      }
      li:nth-child(4) {
        display: flex;
        align-items: center;
      }
      .socialTitle {
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
        margin: -1px !important;
        overflow: hidden !important;
        clip: rect(0 0 0 0) !important;
        white-space: nowrap !important;
        border: 0 !important;
      }
      .socialList {
        display: flex;
        gap: var(--gap-medium);
        padding-inline: var(--padding-mini);
        .socialItem {
          margin-inline: var(--margin-mini);
          a {
            position: relative;
            top: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            @include size(2rem, 2rem);
            gap: var(--gap-xsmall);
            border-radius: var(--border-radius);
            background-color: var(--color-light);
            text-decoration: none;
            transform: rotate(-30deg) skew(25deg) translate(0, 0);
            transition: background-color var(--transition),
              transform var(--transition), box-shadow var(--transition);
            box-shadow: -1px 1px 0 var(--color-grey-70),
              -2px 2px 0 var(--color-grey-70), -3px 3px 0 var(--color-grey-70),
              -4px 4px 0 var(--color-grey-70), -5px 5px 0 var(--color-grey-70);
            &:hover,
            &:focus-visible {
              transform: rotate(-30deg) skew(25deg) translate(0.4rem, -0.4rem);
              box-shadow: -1px 1px 0 var(--color-grey-70),
                -2px 2px 0 var(--color-grey-70), -3px 3px 0 var(--color-grey-70),
                -4px 4px 0 var(--color-grey-70), -5px 5px 0 var(--color-grey-70);
              // 1rem 1rem 1rem rgba(255, 255, 255, 1); ???
            }
            &:focus-visible {
              outline: 2px solid var(--color-light);
              outline-offset: 2px;
            }
            svg {
              color: var(--color-grey-dark);
            }
          }
          &:nth-child(1) a {
            &:hover,
            &:focus-visible {
              background-color: var(--facebook-color);
              box-shadow: -1px 1px 0 var(--facebook-shadow-color),
                -2px 2px 0 var(--facebook-shadow-color),
                -3px 3px 0 var(--facebook-shadow-color),
                -4px 4px 0 var(--facebook-shadow-color),
                -5px 5px 0 var(--facebook-shadow-color),
                -20px 20px 10px var(--facebook-shadow-color);
              svg {
                color: var(--color-light);
              }
            }
          }
          &:nth-child(2) a {
            &:hover,
            &:focus-visible {
              background-color: var(--instagram-color);
              box-shadow: -1px 1px 0 var(--instagram-shadow-color),
                -2px 2px 0 var(--instagram-shadow-color),
                -3px 3px 0 var(--instagram-shadow-color),
                -4px 4px 0 var(--instagram-shadow-color),
                -5px 5px 0 var(--instagram-shadow-color),
                -20px 20px 10px var(--instagram-shadow-color);
              svg {
                color: var(--color-light);
              }
            }
          }
          &:nth-child(3) a {
            &:hover,
            &:focus-visible {
              background-color: var(--telegram-color);
              box-shadow: -1px 1px 0 var(--telegram-shadow-color),
                -2px 2px 0 var(--telegram-shadow-color),
                -3px 3px 0 var(--telegram-shadow-color),
                -4px 4px 0 var(--telegram-shadow-color),
                -5px 5px 0 var(--telegram-shadow-color),
                -20px 20px 10px var(--telegram-shadow-color);
              svg {
                color: var(--color-light);
              }
            }
          }
        }
      }
    }
  }

  .copyright {
    padding: var(--padding-small);
    text-align: center;
    font-size: var(--font-size-small);
    border-top: 1px solid var(--color-grey-70);
  }

  @media (min-width: 576px) {
    .footerContent {
      padding-inline: var(--padding-medium);
      flex-wrap: wrap;
      flex-direction: row;
    }
    .footerContent {
      .services h3,
      .usefulLinks h3,
      .contacts h3 {
        text-align: left;
      }
    }
    .footerContent {
      .usefulLinks,
      .contacts {
        flex: 0 0 50%;
      }
    }
  }
  @media (576px <= width < 768px) {
    .services {
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    .footerContent {
      .usefulLinks,
      .contacts {
        flex: 1;
        margin: 0;
      }
      .services {
        flex: 1.5;
        margin: 0;
      }
    }
  }
}
@media (768px <= width < 1200px) {
  .footerContent {
    gap: var(--gap-small);
  }
}
@media (min-width: 1200px) {
  .footer {
    padding-inline: var(--padding-xlarge);
  }
  .footer .footerContent {
    padding-inline: 0;
  }
  .footer .footerContent .motto {
    flex: 1;
    padding-right: var(--padding-large);
  }
}
@media (min-width: 1440px) {
  .footer .footerContent {
    padding-inline: 0;
  }
  .footer .footerContent .motto {
    padding-right: var(--padding-xlarge);
  }
}
