@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xsmall);
  padding: 0.7rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
}

.primary {
  border: 1px solid var(--color-grey-10);
  background-color: var(--color-light);
  color: var(--color-dark);

  &:disabled {
    border: 1px solid var(--color-grey-70);
    background-color: var(--color-grey-60);
    color: var(--color-grey-80);
    cursor: not-allowed;
  }

  @include hover {
    &:not(:disabled) {
      color: var(--color-green-main);
      border: 1px solid var(--color-green-main);
    }
  }
  &:active {
    background-color: var(--color-dark);
  }
}

.secondary {
  background-color: transparent;
  color: var(--color-light-constant);
  &:disabled {
    filter: brightness(0.6);
    cursor: not-allowed;
  }
}

.icon {
  display: flex;
  align-items: center;
}
