@use "../../../../../../../../app/shared/styles/mixins" as *;

.radioContainer {
  margin-block: var(--margin-small);
  display: flex;
  align-items: center;
  gap: var(--gap-xsmall);

  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    @include size(1rem, 1rem);
    border: 1px solid var(--color-accent);
    border-radius: 50%;
    cursor: pointer;
    position: relative;

    &:checked::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      @include size(0.5rem, 0.5rem);
      border-radius: 50%;
      background-color: var(--color-accent);
      transform: translate(-50%, -50%);
    }
  }
}
