@use "../../styles/mixins" as *;

.dropdownWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 10;
  background-color: var(--color-grey-charcoal);
  overflow: hidden;

  .dropdownOption {
    width: 100%;
    border-bottom: 1px solid var(--color-grey-slate);
    color: var(--color-light);
    padding-block: 0.7rem;
    cursor: pointer;
    @include hover {
      color: var(--color-main);
    }
  }
}
