@use "../../../app/shared/styles/tokens.pure.scss" as *;

.stickyButton {
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  z-index: 100;
  transition: all var(--transition);
  opacity: 0;
  pointer-events: none;
  &:hover {
    color: var(--color-main);
  }

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
  svg {
    @include size(2rem, 2rem);
  }
}
