
.aboutWrapper {
  width: 100%;
  padding-inline: var(--padding-small);

  .aboutContainer {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin-inline: auto;

    .textContainer {
      width: 100%;

      @media (min-width: 992px) {
        max-width: 50%;
      }

      .titleContainer {
        padding-bottom: var(--padding-medium);

        h3 {
          margin-bottom: var(--margin-small);
          font-size: var(--font-size-regular);
          font-weight: var(--font-normal);
          color: var(--color-grey-cool);

          @media (min-width: 992px) {
            font-size: var(--font-size-medium);
          }
        }

        h2 {
          padding-bottom: var(--padding-small);
          font-size: var(--font-size-medium);
          font-weight: var(--font-medium);
          letter-spacing: var(--letter-spacing-small);
          text-transform: uppercase;
          text-decoration: underline;
          text-decoration-color: var(--color-main);
          text-underline-offset: var(--text-underline-offset-large);
          color: var(--color-grey-cool-light);

          @media (min-width: 768px) {
            font-size: var(--font-size-large);
          }
        }
      }

      .description {
        p {
          padding-bottom: var(--padding-medium);
        }
      }

      .actions {
        margin-block: var(--margin-medium);

        @media (min-width: 992px) {
          margin: 0;
        }

        svg {
          position: relative;
          top: 1px;
        }
      }
    }

    .gallery {
      display: flex;
      flex-direction: column;
      gap: var(--gap-small);

      .imageBeforeContainer,
      .imageAfterContainer {
        position: relative;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 3/2;

        img {
          display: block;
          width: 100%;
          height: auto;
          aspect-ratio: 3/2;
        }
      }

      @media (768px <= width < 992px) {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: var(--gap-regular);
      }

      @media (min-width: 992px) {
        position: relative;
        max-width: 30%;
        padding-top: var(--padding-xlarge);

        .imageBeforeContainer,
        .imageAfterContainer {
          width: 17rem;
        }
        .imageAfterContainer {
          position: absolute;
          top: 15rem;
          right: 9rem;
        }
      }

      @media (min-width: 1050px) {
        .imageBeforeContainer,
        .imageAfterContainer {
          width: 18rem;
        }
        .imageAfterContainer {
          position: absolute;
          top: 16rem;
        }
      }
      @media (min-width: 1200px) {
        .imageBeforeContainer,
        .imageAfterContainer {
          width: 19rem;
        }
        .imageAfterContainer {
          top: 17rem;
        }
      }
      @media (min-width: 1440px) {
        .imageBeforeContainer,
        .imageAfterContainer {
          width: 21rem;
        }
        .imageAfterContainer {
          top: 18rem;
        }
      }
    }

    @media (max-width: 991px) {
      flex-direction: column;
    }
    @media (min-width: 992px) {
      justify-content: space-between;
    }
  }

  @media (min-width: 576px) {
    padding-inline: var(--padding-medium);
  }
  @media (min-width: 768px) {
    margin-top: var(--margin-large);
  }
  @media (min-width: 1200px) {
    padding-inline: var(--padding-xlarge);
  }
  @media (min-width: 1440px) {
    padding-inline: 0;
  }
}
