.aboutWrapper {
  width: 100%;
  padding-inline: var(--padding-small);
}
.aboutWrapper .aboutContainer {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin-inline: auto;
}
.aboutWrapper .aboutContainer .textContainer {
  width: 100%;
}
@media (min-width: 992px) {
  .aboutWrapper .aboutContainer .textContainer {
    max-width: 50%;
  }
}
.aboutWrapper .aboutContainer .textContainer .titleContainer {
  padding-bottom: var(--padding-medium);
}
.aboutWrapper .aboutContainer .textContainer .titleContainer h3 {
  margin-bottom: var(--margin-small);
  font-size: var(--font-size-regular);
  font-weight: var(--font-normal);
  color: var(--color-grey-cool);
}
@media (min-width: 992px) {
  .aboutWrapper .aboutContainer .textContainer .titleContainer h3 {
    font-size: var(--font-size-medium);
  }
}
.aboutWrapper .aboutContainer .textContainer .titleContainer h2 {
  padding-bottom: var(--padding-small);
  font-size: var(--font-size-medium);
  font-weight: var(--font-medium);
  letter-spacing: var(--letter-spacing-small);
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: var(--color-main);
  text-underline-offset: var(--text-underline-offset-large);
  color: var(--color-grey-cool-light);
}
@media (min-width: 768px) {
  .aboutWrapper .aboutContainer .textContainer .titleContainer h2 {
    font-size: var(--font-size-large);
  }
}
.aboutWrapper .aboutContainer .textContainer .description p {
  padding-bottom: var(--padding-medium);
}
.aboutWrapper .aboutContainer .textContainer .actions {
  margin-block: var(--margin-medium);
}
@media (min-width: 992px) {
  .aboutWrapper .aboutContainer .textContainer .actions {
    margin: 0;
  }
}
.aboutWrapper .aboutContainer .textContainer .actions svg {
  position: relative;
  top: 1px;
}
.aboutWrapper .aboutContainer .gallery {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}
.aboutWrapper .aboutContainer .gallery .imageBeforeContainer,
.aboutWrapper .aboutContainer .gallery .imageAfterContainer {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 3/2;
}
.aboutWrapper .aboutContainer .gallery .imageBeforeContainer img,
.aboutWrapper .aboutContainer .gallery .imageAfterContainer img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
}
@media (768px <= width < 992px) {
  .aboutWrapper .aboutContainer .gallery {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: var(--gap-regular);
  }
}
@media (min-width: 992px) {
  .aboutWrapper .aboutContainer .gallery {
    position: relative;
    max-width: 30%;
    padding-top: var(--padding-xlarge);
  }
  .aboutWrapper .aboutContainer .gallery .imageBeforeContainer,
  .aboutWrapper .aboutContainer .gallery .imageAfterContainer {
    width: 17rem;
  }
  .aboutWrapper .aboutContainer .gallery .imageAfterContainer {
    position: absolute;
    top: 15rem;
    right: 9rem;
  }
}
@media (min-width: 1050px) {
  .aboutWrapper .aboutContainer .gallery .imageBeforeContainer,
  .aboutWrapper .aboutContainer .gallery .imageAfterContainer {
    width: 18rem;
  }
  .aboutWrapper .aboutContainer .gallery .imageAfterContainer {
    position: absolute;
    top: 16rem;
  }
}
@media (min-width: 1200px) {
  .aboutWrapper .aboutContainer .gallery .imageBeforeContainer,
  .aboutWrapper .aboutContainer .gallery .imageAfterContainer {
    width: 19rem;
  }
  .aboutWrapper .aboutContainer .gallery .imageAfterContainer {
    top: 17rem;
  }
}
@media (min-width: 1440px) {
  .aboutWrapper .aboutContainer .gallery .imageBeforeContainer,
  .aboutWrapper .aboutContainer .gallery .imageAfterContainer {
    width: 21rem;
  }
  .aboutWrapper .aboutContainer .gallery .imageAfterContainer {
    top: 18rem;
  }
}
@media (max-width: 991px) {
  .aboutWrapper .aboutContainer {
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .aboutWrapper .aboutContainer {
    justify-content: space-between;
  }
}
@media (min-width: 576px) {
  .aboutWrapper {
    padding-inline: var(--padding-medium);
  }
}
@media (min-width: 768px) {
  .aboutWrapper {
    margin-top: var(--margin-large);
  }
}
@media (min-width: 1200px) {
  .aboutWrapper {
    padding-inline: var(--padding-xlarge);
  }
}
@media (min-width: 1440px) {
  .aboutWrapper {
    padding-inline: 0;
  }
}/*# sourceMappingURL=ShortDescription.module.css.map */