@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.sideMenu {
  display: none;

  @media (min-width: 992px) {
    display: block;
    flex: 1;

    @keyframes shine {
      to {
        background-position: 200% 0;
      }
    }
    .menuItem {
      position: relative;
      font-weight: var(--font-medium);
      background: var(--gradient-color);
      border-radius: var(--border-radius);
      margin-bottom: var(--margin-small);
      background-size: 200% 100%;

      @include hover {
        animation: shine 2s linear infinite;
      }

      a {
        display: block;
        width: 100%;
        padding: var(--padding-small);
        background: var(--gradient-color-light);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
