@use "../../../app/shared/styles/variables" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xsmall);
  padding: var(--padding-button);
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  font-weight: var(--font-medium);
  font-family: inherit;
  font-size: var(--font-size-base);

  &.primary {
    border: 1px solid var(--color-grey-10);
    background-color: var(--color-light);
    color: var(--color-dark);

    &:disabled {
      border: 1px solid var(--color-grey-70);
      background-color: var(--color-grey-60);
      color: var(--color-grey-80);
      cursor: not-allowed;
    }
    &:hover:not(:disabled) {
      color: var(--color-main);
      border: 1px solid var(--color-main);
    }
    &:active:not(:disabled) {
      background-color: var(--color-dark);
    }
  }

  &.secondary {
    background-color: transparent;
    color: var(--color-light);

    &:disabled {
      filter: brightness(0.6);
      cursor: not-allowed;
    }
  }

  .icon {
    display: flex;
    align-items: center;
  }
}
