:root {
  --color-main: #00c950;
  --color-accent-dark: #006529;
  --gradient-color: linear-gradient(to right, #104e10, #00cc00, #104e10);
  --gradient-color-light: linear-gradient(
    to right,
    #8a8a8a,
    #f2f2f2,
    #ffffff,
    #8a8a8a
  );
  --gradient-color-dark: linear-gradient(to right, #1b941b, #0a300a);
  --color-light: #fafafa;
  --color-light-semi-transparent: #fafafae6;
  --color-dark: #222;
  --color-overlay-dark: #000000bf;
  --color-error: #e7000b;
  --color-accent: oklch(80% 0.18 53.371);
  --color-grey-10: #d1d5db;
  --color-grey-60: #4a4f63;
  --color-grey-70: #505050;
  --color-grey-80: #707070;
  --color-grey-100: #5c5f6e;
  --color-grey-slate: #3f3f46;
  --color-grey-charcoal: #27272a;
  --color-cool-silver: #d4d4d8;
  --color-grey-cool: #6b7280;
  --color-grey-cool-light: #9ca3af;
  --color-grey-dark: #18181b;
  --color-nav-blue: #0050c0;
  --color-nav-blue-hover: #1677ff14;
  --color-nav-blue-active: #1677ff26;
  --facebook-color: #3382ea;
  --facebook-shadow-color: #1166d4;
  --instagram-color: #fc3b64;
  --instagram-shadow-color: #d93155;
  --telegram-color: #1fa2e2;
  --telegram-shadow-color: #1084be;
  --border-radius: 0.5rem;
  --border-radius-small: 0.25rem;
  --padding-xxl: 7.5rem;
  --padding-xlarge: 5rem;
  --padding-large: 2rem;
  --padding-medium: 1.5rem;
  --padding-small: 1rem;
  --padding-xsmall: 0.5rem;
  --padding-mini: 0.25rem;
  --padding-all-medium: 2rem 1rem;
  --padding-button: 0.7rem 1rem;
  --padding-block-large: 2rem 4rem;
  --padding-custom-medium: 1.5rem 1.25rem;
  --padding-custom-large: 2rem 1.5rem;
  --margin-mini: 0.25rem;
  --margin-xsmall: 0.5rem;
  --margin-small: 1rem;
  --margin-medium: 1.5rem;
  --margin-large: 2rem;
  --margin-xlarge: 5rem;
  --margin-xxl: 7.5rem;
  --margin-all-medium: 2rem 1rem;
  --text-indent-small: 1rem;
  --gap-large: 2.5rem;
  --gap-regular: 2rem;
  --gap-medium: 1.5rem;
  --gap-small: 1rem;
  --gap-xsmall: 0.5rem;
  --font-size-large: 2.5rem;
  --font-size-medium: 1.5rem;
  --font-size-regular: 1.25rem;
  --font-size-normal: 1rem;
  --font-size-base: 0.85rem;
  --font-size-small: 0.75rem;
  --font-size-xsmall: 0.6rem;
  --font-thin: 100;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --line-height-medium: 1.2rem;
  --line-height-regular: 1.5;
  --line-height-xlarge: 1.7rem;
  --text-underline-offset-large: 1.5rem;
  --text-underline-offset-small: 0.5rem;
  --text-underline-offset-xsmall: 0.25rem;
  --letter-spacing-small: 0.1em;
  --letter-spacing-xsmall: 0.05em;
  --transition: 500ms ease-in-out;
}

.inputField {
  margin-block: var(--margin-small);
  /* FILE INPUT (button + placeholder + list) */
  /* Button (label) */
  /* default file-input */
  /* placeholder */
  /* Files list */
}
.inputField .inputContainer:not(.fileMode) {
  position: relative;
}
.inputField .inputContainer:not(.fileMode):focus-within .label, .inputField .inputContainer:not(.fileMode):has(input:not(:placeholder-shown)) .label, .inputField .inputContainer:not(.fileMode):has(input:valid) .label, .inputField .inputContainer:not(.fileMode):has(input:-webkit-autofill) .label {
  transform: translate(0.5rem, -2.3rem);
  background-color: var(--color-dark);
  color: var(--color-grey-10);
  text-indent: 0;
  padding-inline: var(--padding-xsmall);
  font-weight: var(--font-medium);
}
.inputField .inputContainer:not(.fileMode) .label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--font-size-base);
  text-indent: 1rem;
  color: var(--color-grey-cool-light);
  transition: all var(--transition);
}
.inputField .inputContainer:not(.fileMode) .input {
  width: 100%;
  padding-block: var(--padding-small);
  text-align: left;
  background-color: inherit;
  outline: none;
  border: 1px solid var(--color-grey-80);
  text-indent: 1rem;
  color: var(--color-light);
  font-size: var(--font-size-normal);
  letter-spacing: var(--letter-spacing-small);
  /* autofill */
}
.inputField .inputContainer:not(.fileMode) .input:focus, .inputField .inputContainer:not(.fileMode) .input:active {
  border: 1px solid var(--color-accent);
}
.inputField .inputContainer:not(.fileMode) .input.error {
  border: 1px solid var(--color-error);
}
.inputField .inputContainer:not(.fileMode) .input:-webkit-autofill, .inputField .inputContainer:not(.fileMode) .input:-webkit-autofill:hover, .inputField .inputContainer:not(.fileMode) .input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-grey-10) !important;
  caret-color: var(--color-grey-10);
  box-shadow: 0 0 0 1000px var(--color-dark) inset;
  -webkit-box-shadow: 0 0 0 1000px var(--color-dark) inset;
}
.inputField .inputContainer:not(.fileMode) .input:-moz-autofill {
  box-shadow: 0 0 0 1000px var(--color-dark) inset;
  -webkit-text-fill-color: var(--color-grey-10);
  caret-color: var(--color-grey-10);
}
.inputField .inputContainer.fileMode {
  position: relative;
  display: grid;
  grid-template-areas: "button" "hint" "list";
  align-items: start;
  gap: var(--gap-xsmall);
  width: -moz-max-content;
  width: max-content;
}
.inputField .inputContainer.fileMode .label {
  grid-area: button;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xsmall);
  padding: var(--padding-button);
  border: 1px solid var(--color-grey-80);
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  font-weight: var(--font-medium);
  font-family: inherit;
  font-size: var(--font-size-base);
}
@media (hover: hover) {
  .inputField .inputContainer.fileMode .label:hover, .inputField .inputContainer.fileMode .label.is-active {
    border-color: var(--color-accent);
  }
}
@media (hover: none) {
  .inputField .inputContainer.fileMode .label:active, .inputField .inputContainer.fileMode .label.is-active {
    border-color: var(--color-accent);
  }
}
.inputField .inputContainer.fileMode .label:active {
  box-shadow: 0px 0px 10px 0px var(--color-accent) inset;
}
.inputField .inputContainer.fileMode .input[type=file] {
  display: none;
}
.inputField .inputContainer.fileMode .placeholder {
  grid-area: hint;
  padding-left: var(--padding-small);
  padding-top: var(--padding-small);
  color: var(--color-grey-cool-light);
  font-size: var(--font-size-small);
  pointer-events: none;
}
.inputField .fileList {
  grid-area: list;
  display: flex;
  flex-direction: column;
}
.inputField .fileList .uploadedFileBadge {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-xsmall);
  padding-top: var(--padding-xsmall);
  font-size: var(--font-size-base);
}
@media (hover: hover) {
  .inputField .fileList .uploadedFileBadge svg:hover, .inputField .fileList .uploadedFileBadge svg.is-active {
    color: var(--color-error);
  }
}
@media (hover: none) {
  .inputField .fileList .uploadedFileBadge svg:active, .inputField .fileList .uploadedFileBadge svg.is-active {
    color: var(--color-error);
  }
}
.inputField .errorMessage {
  padding-top: var(--padding-xsmall);
  font-size: var(--font-size-small);
  color: var(--color-error);
}/*# sourceMappingURL=InputField.module.css.map */