// src/app/shared/ui/InputField/InputField.module.scss
@use "../../../../../../../../app/shared/styles/mixins" as *;

.inputField {
  margin-block: var(--margin-small);

  .inputContainer:not(.fileMode) {
    position: relative;

    &:focus-within .label,
    &:has(input:not(:placeholder-shown)) .label,
    &:has(input:valid) .label,
    &:has(input:-webkit-autofill) .label {
      transform: translate(0.5rem, -2.3rem);
      background-color: var(--color-dark);
      color: var(--color-grey-10);
      text-indent: 0;
      padding-inline: var(--padding-xsmall);
      font-weight: var(--font-medium);
    }

    .label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: var(--font-size-base);
      text-indent: 1rem;
      color: var(--color-grey-cool-light);
      transition: all var(--transition);
    }

    .input {
      width: 100%;
      padding-block: var(--padding-small);
      text-align: left;
      background-color: inherit;
      outline: none;
      border: 1px solid var(--color-grey-80);
      text-indent: 1rem;
      color: var(--color-light);
      font-size: var(--font-size-normal);
      letter-spacing: var(--letter-spacing-small);

      &:focus,
      &:active {
        border: 1px solid var(--color-accent);
      }

      &.error {
        border: 1px solid var(--color-error);
      }

      /* autofill */
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        -webkit-text-fill-color: var(--color-grey-10) !important;
        caret-color: var(--color-grey-10);
        box-shadow: 0 0 0 1000px var(--color-dark) inset;
        -webkit-box-shadow: 0 0 0 1000px var(--color-dark) inset;
      }

      &:-moz-autofill {
        box-shadow: 0 0 0 1000px var(--color-dark) inset;
        -webkit-text-fill-color: var(--color-grey-10);
        caret-color: var(--color-grey-10);
      }
    }
  }

  /* FILE INPUT (button + placeholder + list) */
  .inputContainer.fileMode {
    position: relative;
    display: grid;
    grid-template-areas:
      "button"
      "hint"
      "list";
    align-items: start;
    gap: var(--gap-xsmall);
    width: max-content;
  }

  /* Button (label) */
  .inputContainer.fileMode .label {
    grid-area: button;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xsmall);
    padding: var(--padding-button);
    border: 1px solid var(--color-grey-80);
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    font-weight: var(--font-medium);
    font-family: inherit;
    font-size: var(--font-size-base);

    @include hover {
      border-color: var(--color-accent);
    }
    &:active {
      box-shadow: 0px 0px 10px 0px var(--color-accent) inset;
    }
  }

  /* default file-input */
  .inputContainer.fileMode .input[type="file"] {
    display: none;
  }

  /* placeholder */
  .inputContainer.fileMode .placeholder {
    grid-area: hint;
    padding-left: var(--padding-small);
    padding-top: var(--padding-small);
    color: var(--color-grey-cool-light);
    font-size: var(--font-size-small);
    pointer-events: none;
  }

  /* Files list */
  .fileList {
    grid-area: list;
    display: flex;
    flex-direction: column;

    .uploadedFileBadge {
      display: inline-flex;
      align-items: center;
      gap: var(--gap-xsmall);
      padding-top: var(--padding-xsmall);
      font-size: var(--font-size-base);

      svg {
        @include hover {
          color: var(--color-error);
        }
      }
    }
  }
  .errorMessage {
    padding-top: var(--padding-xsmall);
    font-size: var(--font-size-small);
    color: var(--color-error);
  }
}
