@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xsmall);
  padding: var(--padding-button);
  border: 1px solid var(--color-grey-10);
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-weight: var(--font-medium);
  font-family: inherit;
  font-size: var(--font-size-base);
  @media (max-width: 576px) {
    font-size: var(--font-size-small);
  }

  @include hover {
    color: var(--color-main);
    border: 1px solid var(--color-main);
  }

  &:active {
    background-color: var(--color-dark);
  }

  .icon {
    display: flex;
    align-items: center;
  }
}
