@use "../../styles/mixins" as *;

.languageSwitcher {
  display: inline-flex;
  position: relative;
  align-self: stretch;

  .languageSwitcherButton {
    display: flex;

    button {
      svg {
        width: 1rem;
        height: 1rem;
        @media (min-width: 768px) {
          width: 1.5rem;
          height: 1.5rem;
        }
        color: var(--color-light);
        @include hover {
          color: var(--color-green-main);
        }
      }
    }
  }

  .dropdown {
    position: absolute;
    top: 100%;
    // max-width: 3rem;
    width: 100%;
    z-index: 50;
    transition: all 500ms ease-in-out;
    opacity: 0;
    transform: scaleY(0.75);
    transform-origin: top;
    visibility: hidden;

    .dropdownOption {
      display: flex;
      justify-content: center;

      &.active {
        font-weight: 600;
        text-decoration: underline;
        text-underline-offset: 0.25rem;
      }
    }
  }
  @media (hover: hover) and (pointer: fine) {
    @include hover {
      .dropdown {
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
      }
    }
  }

  @media (hover: none) and (pointer: coarse) {
    &:focus-within .dropdown {
      opacity: 1;
      visibility: visible;
      transform: scaleY(1);
    }
  }
}
