.stickyButton {
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  z-index: 100;
  transition: all 500ms ease-in-out;
  opacity: 0;
  pointer-events: none;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
  svg {
    width: 2rem;
    height: 2rem;
  }
}
