
.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xsmall);
  padding: var(--padding-button);
  border: 1px solid var(--color-grey-10);
  border-radius: 8px;
  outline: none;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-weight: var(--font-medium);
  font-family: inherit;
  font-size: var(--font-size-base);

  &:hover,
  &.is-active {
    color: var(--color-main);
    border: 1px solid var(--color-main);
  }
}

.icon {
  display: flex;
  align-items: center;
}
