@use "../../../app/shared/styles/variables" as *;

.selectField {
  position: relative;
  margin-block: var(--margin-small);

  .inputContainer {
    position: relative;
    cursor: pointer;
    border: 1px solid var(--color-grey-80);

    &:focus-within {
      border-color: var(--color-accent);
    }

    &:focus-within .label,
    &:has(input:not(:placeholder-shown)) .label,
    &:has(input:valid) .label,
    &:has(input:-webkit-autofill) .label {
      transform: translate(0.5rem, -2.3rem);
      background-color: var(--color-dark);
      color: var(--color-grey-10);
      text-indent: 0;
      padding-inline: var(--padding-xsmall);
      font-weight: var(--font-semi-bold);
    }
  }

  .label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--font-size-base);
    text-indent: var(--text-indent-small);
    color: var(--color-grey-cool-light);
    transition: all var(--transition);
    pointer-events: none;
  }

  .input {
    width: 100%;
    padding-block: var(--padding-small);
    background-color: inherit;
    outline: none;
    border: 0;
    text-align: left;
    text-indent: var(--text-indent-small);
    color: var(--color-light);
    font-size: var(--font-size-normal);
    letter-spacing: var(--letter-spacing-small);
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 20;
    width: 100%;
    max-height: 12rem;
    overflow-y: auto;
    border: 1px solid var(--color-grey-80);
    background-color: var(--color-dark);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    transform-origin: top center;
    animation: selectDropdownIn 0.5s ease-out both;
    text-indent: 1rem;

    .option {
      padding: var(--padding-xsmall);
      cursor: pointer;
      transition: background-color 0.5s ease;
      &:hover {
        color: var(--color-accent);
      }
      &:active {
        background-color: var(--color-grey-80);
      }
    }
  }
}

@keyframes selectDropdownIn {
  from {
    opacity: 0;
    transform: translateY(-6px) scaleY(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}
