/* Важно: объявляем слой, чтобы reset не перебивал стили компонентов AntD */
@layer reset, antd;

/* Сбрасываем базовые браузерные стили AntD-ресетом в своём слое */
@import "antd/dist/reset.css" layer(reset);
@import "./shared/styles/_variables.css";

* {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light-semi-transparent);
}

html {
  scroll-behavior: smooth;
  scroll-padding: var(--padding-xlarge);
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
