// src/app/admin/AdminHome.module.scss

@use "../shared/styles/variables" as *;
@use "../shared/styles/mixins" as *;

body {
  background-color: #fff;
}

.pageRoot {
  padding: var(--padding-small);

  @media (min-width: 768px) {
    padding: var(--padding-custom-medium);
  }

  @media (min-width: 1200px) {
    padding: var(--padding-custom-large);
  }

  .title {
    text-align: center;
    padding: var(--padding-small);
  }

  .noticeList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--margin-small);

    .loadingPlaceholder {
      width: 100%;
      min-height: 5rem;
    }

    .noticeLink {
      display: inline-flex;
      align-items: center;
      margin-top: var(--margin-medium);
      gap: var(--gap-xsmall);
      color: var(--color-dark);
      text-decoration: none;
      font-size: var(--font-size-normal);
      font-weight: var(--font-bold);

      @include hover {
        color: var(--color-main);
      }
    }

    .noticeStar {
      color: var(--color-error);
    }
  }
}
