:global(:root) {
  --color-main: #00c950;
  --color-accent-dark: #006529;
  --gradient-color: linear-gradient(to right, #104e10, #00cc00, #104e10);
  --gradient-color-light: linear-gradient(
    to right,
    #8a8a8a,
    #f2f2f2,
    #ffffff,
    #8a8a8a
  );
  --gradient-color-dark: linear-gradient(to right, #1b941b, #0a300a);

  --color-light: #fafafa;
  --color-light-semi-transparent: #fafafae6;
  --color-dark: #222;
  --color-overlay-dark: #000000bf;

  --color-error: #e7000b;
  --color-accent: oklch(80% 0.18 53.371);

  --color-grey-10: #d1d5db;
  --color-grey-60: #4a4f63;
  --color-grey-70: #505050;
  --color-grey-80: #707070;
  --color-grey-100: #5c5f6e;
  --color-grey-slate: #3f3f46;
  --color-grey-charcoal: #27272a;
  --color-cool-silver: #d4d4d8;
  --color-grey-cool: #6b7280;
  --color-grey-cool-light: #9ca3af;
  --color-grey-dark: #18181b;
  --color-nav-blue: #0050c0;
  --color-nav-blue-hover: #1677ff14;
  --color-nav-blue-active: #1677ff26;

  --facebook-color: #3382ea;
  --facebook-shadow-color: #1166d4;
  --instagram-color: #fc3b64;
  --instagram-shadow-color: #d93155;
  --telegram-color: #1fa2e2;
  --telegram-shadow-color: #1084be;

  --border-radius: 0.5rem;
  --border-radius-small: 0.25rem;

  --padding-xxl: 7.5rem;
  --padding-xlarge: 5rem;
  --padding-large: 2rem;
  --padding-medium: 1.5rem;
  --padding-small: 1rem;
  --padding-xsmall: 0.5rem;
  --padding-mini: 0.25rem;

  --padding-all-medium: 2rem 1rem;

  --padding-button: 0.7rem 1rem;

  --padding-block-large: 2rem 4rem;
  --padding-custom-medium: 1.5rem 1.25rem;
  --padding-custom-large: 2rem 1.5rem;

  --margin-mini: 0.25rem;
  --margin-xsmall: 0.5rem;
  --margin-small: 1rem;
  --margin-medium: 1.5rem;
  --margin-large: 2rem;
  --margin-xlarge: 5rem;
  --margin-xxl: 7.5rem;

  --margin-all-medium: 2rem 1rem;

  --text-indent-small: 1rem;

  --gap-large: 2.5rem;
  --gap-regular: 2rem;
  --gap-medium: 1.5rem;
  --gap-small: 1rem;
  --gap-xsmall: 0.5rem;

  --font-size-large: 2.5rem;
  --font-size-medium: 1.5rem;
  --font-size-regular: 1.25rem;
  --font-size-normal: 1rem;
  --font-size-base: 0.85rem;
  --font-size-small: 0.75rem;
  --font-size-xsmall: 0.6rem;

  --font-thin: 100;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --line-height-medium: 1.2rem;
  --line-height-regular: 1.5;
  --line-height-xlarge: 1.7rem;

  --text-underline-offset-large: 1.5rem;
  --text-underline-offset-small: 0.5rem;
  --text-underline-offset-xsmall: 0.25rem;

  --letter-spacing-small: 0.1em;
  --letter-spacing-xsmall: 0.05em;

  --transition: 500ms ease-in-out;
}
