@mixin hover {
  @media (hover: hover) {
    &:hover,
    &.is-active {
      @content;
    }
  }

  @media (hover: none) {
    &:active,
    &.is-active {
      @content;
    }
  }
}

@mixin sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}
