.formContainer {
  // padding-inline: var(--padding-small);

  .form {
    min-width: 343px;
    max-width: 27rem;
    padding: var(--padding-small);
    border: 1px solid var(--color-grey-70);
    border-radius: var(--border-radius);
    background-color: var(--color-dark);
    box-shadow: var(--color-grey-dark) 0px 0px 18px 10px;

    .formTitle {
      padding-bottom: var(--padding-small);
      text-align: center;
    }
    .formFieldset {
      display: flex;
      gap: var(--gap-regular);
      border: none;
    }
    /* Honeypot-поле: визуально скрыто, но остаётся в DOM для ботов */
    .honeypot {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 0;
    }

    .actions {
      button {
        width: 100%;
      }
    }
    .formSuccess {
      color: var(--color-main);
      padding-top: var(--padding-small);
    }
    .formError {
      color: var(--color-error);
      padding-top: var(--padding-small);
      font-size: var(--font-size-base);
    }

    .disclaimer {
      padding-top: var(--padding-small);
      font-size: var(--font-size-small);
      color: var(--color-grey-cool-light);
    }
  }
}
