@use "../../../app/shared/styles/variables" as *;

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  padding: var(--padding-medium);

  .loginCard {
    width: 100%;
    max-width: 30rem;

    .loginHeader {
      display: flex;
      flex-direction: column;
      padding-block: var(--padding-xsmall);
      margin-bottom: var(--margin-xsmall);

      .loginTitle {
        margin: 0;
        padding-block: var(--padding-xsmall);
      }
      .loginSubtitle {
        color: var(--color-grey-cool-light);
      }
    }

    .submitRow {
      margin-top: var(--margin-small);
      margin-bottom: 0;
    }
  }
}
