@use "../../../../styles/mixins" as *;
@use "../../../../styles/variables" as *;

.label {
  display: inline-flex;
  align-items: flex-start;
  margin-bottom: var(--margin-small);
  gap: var(--gap-xsmall);

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .icon {
    display: inline-flex;
    color: var(--color-main);
    cursor: pointer;
  }

  .text {
    flex: 1 1 auto;
    min-width: 0;
    font-size: var(--font-size-small);
    line-height: var(--line-height-medium);
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: normal;

    a {
      text-decoration: underline;
      text-underline-offset: 4px;
      overflow-wrap: anywhere;
      word-break: break-word;
      @include hover {
        color: var(--color-main);
      }
    }
  }
}
