@charset "UTF-8";
/* Services.module.scss */
:root {
  --color-main: #00c950;
  --color-accent-dark: #006529;
  --gradient-color: linear-gradient(to right, #104e10, #00cc00, #104e10);
  --gradient-color-light: linear-gradient(
    to right,
    #8a8a8a,
    #f2f2f2,
    #ffffff,
    #8a8a8a
  );
  --gradient-color-dark: linear-gradient(to right, #1b941b, #0a300a);
  --color-light: #fafafa;
  --color-light-semi-transparent: #fafafae6;
  --color-dark: #222;
  --color-overlay-dark: #000000bf;
  --color-error: #e7000b;
  --color-accent: oklch(80% 0.18 53.371);
  --color-grey-10: #d1d5db;
  --color-grey-60: #4a4f63;
  --color-grey-70: #505050;
  --color-grey-80: #707070;
  --color-grey-100: #5c5f6e;
  --color-grey-slate: #3f3f46;
  --color-grey-charcoal: #27272a;
  --color-cool-silver: #d4d4d8;
  --color-grey-cool: #6b7280;
  --color-grey-cool-light: #9ca3af;
  --color-grey-dark: #18181b;
  --facebook-color: #3382ea;
  --facebook-shadow-color: #1166d4;
  --instagram-color: #fc3b64;
  --instagram-shadow-color: #d93155;
  --telegram-color: #1fa2e2;
  --telegram-shadow-color: #1084be;
  --border-radius: 0.5rem;
  --border-radius-small: 0.25rem;
  --padding-xxl: 7.5rem;
  --padding-xlarge: 5rem;
  --padding-large: 2rem;
  --padding-medium: 1.5rem;
  --padding-small: 1rem;
  --padding-xsmall: 0.5rem;
  --padding-mini: 0.25rem;
  --padding-all-medium: 2rem 1rem;
  --padding-button: 0.7rem 1rem;
  --padding-block-large: 2rem 4rem;
  --margin-mini: 0.25rem;
  --margin-xsmall: 0.5rem;
  --margin-small: 1rem;
  --margin-medium: 1.5rem;
  --margin-large: 2rem;
  --margin-xlarge: 5rem;
  --margin-xxl: 7.5rem;
  --margin-all-medium: 2rem 1rem;
  --text-indent-small: 1rem;
  --gap-large: 2.5rem;
  --gap-regular: 2rem;
  --gap-medium: 1.5rem;
  --gap-small: 1rem;
  --gap-xsmall: 0.5rem;
  --font-size-large: 2.5rem;
  --font-size-medium: 1.5rem;
  --font-size-regular: 1.25rem;
  --font-size-normal: 1rem;
  --font-size-base: 0.85rem;
  --font-size-small: 0.75rem;
  --font-size-xsmall: 0.6rem;
  --font-thin: 100;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --line-height-medium: 1.2rem;
  --line-height-regular: 1.5;
  --line-height-xlarge: 1.7rem;
  --text-underline-offset-large: 1.5rem;
  --text-underline-offset-small: 0.5rem;
  --letter-spacing-small: 0.1em;
  --letter-spacing-xsmall: 0.05em;
  --transition: 500ms ease-in-out;
}

.servicesSectionWrapper {
  width: 100%;
  padding-inline: var(--padding-small);
  margin-block: var(--padding-small);
}
.servicesSectionWrapper .servicesSection {
  position: relative;
  margin-block: var(--margin-medium);
  max-width: 1200px;
  margin-inline: auto;
}
.servicesSectionWrapper .servicesSection .servicesHeader {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
  padding-bottom: var(--padding-medium);
}
.servicesSectionWrapper .servicesSection .servicesHeader h3 {
  font-size: var(--font-size-regular);
  font-weight: var(--font-normal);
  color: var(--color-grey-cool);
}
.servicesSectionWrapper .servicesSection .servicesHeader h2 {
  padding-bottom: var(--padding-small);
  font-size: var(--font-size-medium);
  font-weight: var(--font-medium);
  letter-spacing: var(--letter-spacing-small);
  text-transform: uppercase;
  color: var(--color-grey-cool-light);
  text-decoration: underline;
  text-decoration-color: var(--color-main);
  text-underline-offset: var(--text-underline-offset-large);
}
.servicesSectionWrapper .servicesSection .carouselWrapper {
  position: relative;
  width: 100%;
  margin-top: var(--margin-medium);
  /* Слайды */
  /* Кнопки навигации */
}
.servicesSectionWrapper .servicesSection .carouselWrapper .swiper {
  width: 100%;
}
.servicesSectionWrapper .servicesSection .carouselWrapper :global(.swiper-wrapper) {
  align-items: stretch;
}
.servicesSectionWrapper .servicesSection .carouselWrapper .slide {
  display: flex;
  flex-direction: column;
}
.servicesSectionWrapper .servicesSection .carouselWrapper .navButton {
  position: absolute;
  z-index: 50;
  transition: all var(--transition);
  /* скрываем на сенсорных (swipe) устройствах */
}
.servicesSectionWrapper .servicesSection .carouselWrapper .navButton.prev {
  top: -6.25rem;
  right: 4rem;
}
.servicesSectionWrapper .servicesSection .carouselWrapper .navButton.next {
  top: -6.25rem;
  right: 0;
}
.servicesSectionWrapper .servicesSection .carouselWrapper .navButton button {
  border: 1px solid var(--color-light);
}
@media (hover: hover) {
  .servicesSectionWrapper .servicesSection .carouselWrapper .navButton button:hover, .servicesSectionWrapper .servicesSection .carouselWrapper .navButton button.is-active {
    color: var(--color-main);
    border-color: var(--color-main);
  }
}
@media (hover: none) {
  .servicesSectionWrapper .servicesSection .carouselWrapper .navButton button:active, .servicesSectionWrapper .servicesSection .carouselWrapper .navButton button.is-active {
    color: var(--color-main);
    border-color: var(--color-main);
  }
}
.servicesSectionWrapper .servicesSection .carouselWrapper .pagination {
  margin-top: var(--margin-large);
  display: flex;
  justify-content: center;
  /* активная bullet */
}
.servicesSectionWrapper .servicesSection .carouselWrapper .pagination :global(.swiper-pagination-bullet) {
  width: 1.5rem;
  height: 5px;
  background-color: var(--color-grey-70);
  border-radius: 2px;
  opacity: 1;
  margin: 0 4px;
  transition: background var(--transition);
}
.servicesSectionWrapper .servicesSection .carouselWrapper .pagination :global(.swiper-pagination-bullet-active) {
  background: var(--color-main);
}

@media (min-width: 576px) {
  .servicesSectionWrapper {
    padding-inline: var(--padding-medium);
  }
}
@media (min-width: 1200px) {
  .servicesSectionWrapper {
    padding-inline: var(--padding-xlarge);
  }
}
@media (min-width: 1440px) {
  .servicesSectionWrapper {
    padding-inline: 0;
  }
}/*# sourceMappingURL=ServicesSwiper.module.css.map */