
.form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  padding: var(--padding-medium);
  border: 1px solid var(--color-grey-70);
  border-radius: var(--border-radius);
  box-shadow: var(--color-grey-dark) 0px 0px 18px 10px;
  margin-block: var(--margin-medium);
  background-color: var(--color-dark);

  .formTitle {
    padding-bottom: var(--padding-small);
  }

  .formError,
  .formSuccess {
    font-size: var(--font-size-base);
    margin-top: var(--margin-mini);
  }
  .formError {
    color: var(--color-error);
  }
  .formSuccess {
    color: var(--color-main);
  }

  .actions {
    align-self: flex-end;
  }
}
