.allServices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: var(--padding-all-medium);

  @media (min-width: 576px) {
    padding-inline: var(--padding-medium);
  }

  @media (min-width: 1200px) {
    padding-inline: var(--padding-xlarge);
  }

  @media (min-width: 1600px) {
    padding-inline: 0;
  }

  .mainTitle {
    margin-bottom: var(--margin-large);
    text-align: center;
    font-size: var(--font-size-medium);
    font-weight: var(--font-bold);
    letter-spacing: var(--letter-spacing-xsmall);
    line-height: var(--line-height-regular);
    @media (min-width: 768px) {
      font-size: var(--font-size-large);
    }
  }
  .optionsWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* разрешаем переносить карточки */
    max-width: 1440px;

    @media (min-width: 1600px) {
      margin-inline: auto;
    }
  }

  .serviceCard {
    flex: 0 1 100%;
  }

  @media (min-width: 768px) {
    .serviceCard {
      flex: 0 1 calc(50% - 1.5rem);
    }
  }

  @media (min-width: 1024px) {
    .serviceCard {
      flex: 0 1 calc(33.333% - 2rem);
    }
  }
}
