// ServicesOverview.module.scss

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: var(--padding-all-medium);

  @media (min-width: 576px) {
    padding-inline: var(--padding-medium);
  }

  @media (min-width: 1200px) {
    padding-inline: var(--padding-xlarge);
  }

  @media (min-width: 1440px) {
    padding-inline: 0;
  }

  .mainTitle {
    margin-bottom: var(--margin-large);
    text-align: center;
    font-size: var(--font-size-normal);
    font-weight: var(--font-normal);
    line-height: var(--line-height-regular);
    letter-spacing: var(--letter-spacing-small);
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: var(--font-size-medium);
    }
  }

  .optionsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;

    @media (min-width: 1440px) {
      margin-inline: auto;
    }

    > div {
      flex: 0 1 100%;
    }

    @media (min-width: 768px) {
      > div {
        flex: 0 1 calc(50% - 1.5rem);
      }
    }

    @media (min-width: 1024px) {
      > div {
        flex: 0 1 calc(33.333% - 2rem);
      }
    }
  }
}
