
.breadcrumbWrapper {
  display: block;
  margin-block: var(--margin-large);
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 0;

  .breadcrumbList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    line-height: var(--line-height-xlarge);

    .separator {
      padding-inline: var(--padding-small);
    }
  }
}

.disabled {
  color: var(--color-main);
}
