.textareaContainer {
  position: relative;
  &:focus-within .title,
  /* стало: держим заголовок наверху, когда в поле есть текст */
  &.isFilled .title {
    transform: translate(0.5rem, -1.625rem);
    background-color: var(--color-dark);
    color: var(--color-grey-10);
    text-indent: 0;
    padding-inline: var(--padding-xsmall);
    font-weight: var(--font-medium);
  }

  .title {
    position: absolute;
    top: 1rem;
    transform: translateY(0);
    font-weight: normal;
    color: var(--color-grey-cool-light);
    transition: all var(--transition);
    text-indent: 1rem;
    pointer-events: none;
    font-size: var(--font-size-base);
  }

  .textarea {
    width: 100%;
    margin: 0;
    padding-block: var(--padding-small);
    outline: none;
    resize: none;
    text-indent: 1rem;
    border-bottom: 1px solid var(--color-grey-80);
    background-color: inherit;
    line-height: var(--line-hight-medium);
    color: var(--color-light);

    &:focus,
    &:active {
      border: 1px solid var(--color-accent);
    }

    &.error {
      border: 1px solid var(--color-error);
    }
  }
  .errorMessage {
    padding-top: var(--padding-xsmall);
    font-size: var(--font-size-small);
    color: var(--color-error);
  }
}
