/* Services.module.scss */

@use "../../shared/styles/variables" as *;
@use "../../shared/styles/mixins" as *;

/* Секция «Что мы предлагаем» */
.servicesSection {
  position: relative;
  margin: 2rem 1rem;

  @media (576px <= width < 768px) {
    margin-inline: 1.5rem;
  }

  @media (768px <= width < 992px) {
    max-width: 45rem;
    margin-inline: auto;
  }

  @media (min-width: 992px) {
    margin-inline: 2rem;
  }

  @media (min-width: 1200px) {
    margin-inline: 5rem;
  }
  @media (min-width: 1600px) {
    max-width: 1440px;
    margin-inline: auto;
  }

  /* Заголовок секции */
  .servicesHeader {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* space-y-6 */
    padding-bottom: 1.5rem; /* pb-6 */

    h3 {
      font-size: 1.25rem; /* text-2xl */
      color: #6b7280;
    }

    h2 {
      padding-bottom: 1rem; /* pb-4 */
      font-size: 1.5rem; /* text-4xl */
      color: #9ca3af;
      font-weight: 700;
      letter-spacing: 0.1em; /* tracking-widest */
      text-transform: uppercase;
      text-decoration: underline;
      text-decoration-color: var(--color-green-main);
      text-underline-offset: 1.5rem; /* underline-offset-22 */
    }
  }

  /* Обёртка карусели */
  .carouselWrapper {
    position: relative;
    width: 100%;
    margin-top: 1.5rem; /* mt-6 */

    /* сам Swiper */
    .swiper {
      width: 100%;
    }

    :global(.swiper-wrapper) {
      align-items: stretch;
    }

    /* Слайды */
    .slide {
      display: flex;
      flex-direction: column;

      .slideImage {
        position: relative;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 3 / 2;
        img {
          display: block;
          width: 100%;
          height: auto;
          aspect-ratio: 3 / 2;
          border-radius: var(--border-radius);
        }
      }

      .slideTitle {
        margin-top: 1rem; /* mt-4 */
        font-size: 1.5rem; /* text-2xl */
        color: var(--color-stone-300);
        font-weight: 700;
      }

      .slideDescription {
        padding-block: 1rem; /* py-4 */
        letter-spacing: 0.05em; /* tracking-wider */
      }

      .slideButton {
        margin-top: auto;
        button {
          width: 100%;
        }
      }
    }

    /* Кнопки навигации */
    .navButton {
      position: absolute;
      z-index: 50;
      transition: all 0.5s ease-in-out;

      &.prev {
        top: -6.25rem; /* -top-25 */
        right: 4rem; /* right-16 */
      }

      &.next {
        top: -6.25rem;
        right: 0;
      }
      button {
        border: 1px solid var(--color-light);
        @include hover {
          color: var(--color-green-main);
          border-color: var(--color-green-main);
        }
      }

      /* скрываем на сенсорных (swipe) устройствах */
      // @media (hover: none) and (pointer: coarse) {
      //   display: none;
      // }
    }

    /* Пагинация */
    .pagination {
      margin-top: 2rem;
      display: flex;
      justify-content: center;

      :global(.swiper-pagination-bullet) {
        width: 1.5rem;
        height: 5px;
        background-color: var(--color-grey-70); /* цвет неактивной точки */
        border-radius: 2px; /* круг */
        opacity: 1; /* сбрасываем полупрозрачность */
        margin: 0 4px; /* отступы между точками */
        transition: background 0.3s;
      }

      /* активная bullet */
      :global(.swiper-pagination-bullet-active) {
        background: var(--color-green-main); /* цвет активной точки */
      }
    }
  }
}
